<!DOCTYPE html>
<html lang="en">
<head>
  <title>京东商智操作指引</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/assets/js/bignumber.min.js"></script>
  <style>
    .container {
      display: flex;
      justify-content: space-between;
    }
    .left-container {
      flex: 1;
      padding: 20px;
      background-color: #f1f1f1;
    }
    .right-container {
      flex: 1;
      padding: 20px;
      background-color: #e9e9e9;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-group input {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .start-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .console {
      min-height: 400px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: white;
      font-size: 18px;
    }
    .html-group {
      justify-content: space-around;
      flex-wrap: nowrap;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  </style>
    <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
<!--  <script src="../static/assets/js/socket.io.js"></script>-->
</head>
<body>
  <header id="header">
    <div class="container">

      <div class="logo">
        <h1 class="text-light"><a href="https://www.baidu.com/"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="https://www.baidu.com/"><img src="https://7n.kaokao.mobi/zelinAI.png" alt="" class="img-fluid"></a>
      </div>
        <a href="https://sz.jd.com/" class="logo" >
        <img class="logo" src="../static/assets/img/京东商智.png" height=69 width=163 alt=""></a>
      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/index">首页<i class="la la-angle-down"></i></a></li>
          <li><a href="/TB_index">淘宝操作</a></li>
          <li><a href="/JD_index">京东操作（扫码填价）</a></li>
          <li><a href="/JDSZ_index">商智爬取</a></li>
          <li><a href="/new_JD_index">京东操作（机器填价）</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <div class="container">
<!--    <label for="left-container" style=" font-size: 20px;color: black;padding: 20px 20px 20px;">使用单个商铺操作：</label>-->
    <div id="left-container" class="left-container">
      <div class="form-group">
        <label for="input1">①请输入店铺账号:</label>
        <input type="text" id="input1">
      </div>
      <div class="form-group">
        <label for="input2">②请输入密码:)</label>
        <input type="text" id="input2" placeholder="">
      </div>
      <div class="form-group">
        <label for="input3">③请输入需要添加监控的表格名称（即京东操作的生成表格名称）:</label>
        <input type="text" id="input3">
      </div>
      <div class="form-group">
        <label for="input4">④请输入生成表格（查完销量的）名称:</label>
        <input type="text" id="input4" placeholder="">
      </div>
      <label for="html-group" style=" font-size: 20px;color: black;padding: 20px 20px 20px;">单个商铺单个流程操作</label>
            <div class="html-group" id="html-group" style="display: flex;">
          <div class="button-wrapper">
            <label for="start-button1">需填①②</label>
            <button id="start-button1" class="start-button">批量删除</button><br />
            <div id="start-message1" class="start-message" style="height: 40px; width: 100px; background-color: #f2f2f2; padding: 0; border: 1px solid #ccc;"></div>
            </div>
            <div class="button-wrapper">
              <label for="start-button2">需填①②③</label>
              <button id="start-button2" class="start-button">批量添加</button><br />
              <div id="start-message2" class="start-message" style="height: 40px; width: 100px; background-color: #f2f2f2; padding: 0; border: 1px solid #ccc;"></div>
            </div>
            <div class="button-wrapper">
              <label for="start-button3">需填①②③④</label>
              <button id="start-button3" class="start-button">查询</button><br />
              <div id="start-message3" class="start-message" style="height: 40px; width: 100px; background-color: #f2f2f2; padding: 0; border: 1px solid #ccc;"></div>
            </div>
      </div>
      <br /><br />
      <label for="start-button" style=" font-size: 20px;color: black;padding: 20px 20px 20px;">一键操作单个商铺（需填①②③④）</label>
      <button id="start-button" class="start-button">一键全部启动： 删除 >> 添加 >> 查询 </button><br />
      <div id="start-message" class="start-message" style="height: 40px; width: 100%; background-color: #f2f2f2; padding: 0; border: 1px solid #ccc;"></div>

      <br /><br /><br />


      </div>
    <div class="right-container">
      <div class="form-group">
        <label for="input5">⑤请输入需要添加监控的表格名称:</label>
        <input type="text" id="input5">
      </div>
      <div class="form-group">
        <label for="input6">⑥请输入生成表格名称:</label>
        <input type="text" id="input6" placeholder="">
      </div>
      <label for="start-button4" style=" font-size: 20px;color: black;padding: 20px 20px 20px;">一键操作多个商铺（只需填⑤⑥）</label>
      <button id="start-button4" class="start-button">全部启动： EST  >>  CU  >>  SM  >>  Spring</button><br />
      <div id="start-message4" class="start-message" style="height: 40px; width: 100%; background-color: #f2f2f2; padding: 0; border: 1px solid #ccc;"></div><br /><br />
      <div id="console1" class="console"></div>
    </div>
  </div>
  <script>
  // 单独删除按钮点击事件
  document.getElementById('start-button1').addEventListener('click', function() {
    var account = document.getElementById('input1').value;
    var password = document.getElementById('input2').value;
    var inputPath = document.getElementById('input3').value;
    var outputPath = document.getElementById('input4').value;
    // var login_path = document.getElementById('input3').value;
    // 发送POST请求到后端
    fetch('/delete_SKU', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Content-Type-Options': 'nosniff'
      },
      body: JSON.stringify({
        account: account,
        password: password,
        inputPath: inputPath,
        outputPath: outputPath
        // login_path: login_path
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(function (data) {
      // console.log(data.msg) // 检查响应数据的结构和内容
      // 更新页面内容
      document.getElementById('console1').innerHTML = data.msg;
      var uploadMessage = document.getElementById('start-message1');
      if (data.success) {
        uploadMessage.textContent = ' 操作完毕';
        uploadMessage.style.color = 'green';
      } else {
        uploadMessage.textContent = '操作失败';
        uploadMessage.style.color = 'red';
      }
    })
    .catch(function(error) {
      console.log(error); // 检查响应数据的结构和内容
      document.getElementById('console1').innerHTML = error;
    });
  });


    // 单独添加按钮点击事件
  document.getElementById('start-button2').addEventListener('click', function() {
    var account = document.getElementById('input1').value;
    var password = document.getElementById('input2').value;
    var inputPath = document.getElementById('input3').value;
    var outputPath = document.getElementById('input4').value;
    // var login_path = document.getElementById('input3').value;
    // 发送POST请求到后端
    fetch('/add_SKU', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Content-Type-Options': 'nosniff'
      },
      body: JSON.stringify({
        account: account,
        password: password,
        inputPath: inputPath,
        outputPath: outputPath
        // login_path: login_path
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(function (data) {
      // console.log(data.msg) // 检查响应数据的结构和内容
      // 更新页面内容
      console.log(data.msg)
      document.getElementById('console1').innerHTML = data.msg.replace(/\n/g, "<br>");
      var uploadMessage = document.getElementById('start-message2');
      if (data.success) {
        uploadMessage.textContent = ' 操作完毕';
        uploadMessage.style.color = 'green';
      } else {
        uploadMessage.textContent = '操作失败';
        uploadMessage.style.color = 'red';
      }
    })
    .catch(function(error) {
      console.log(error); // 检查响应数据的结构和内容
      document.getElementById('console1').innerHTML = error;
    });
  });

    // 单独查询按钮点击事件
  document.getElementById('start-button3').addEventListener('click', function() {
    var account = document.getElementById('input1').value;
    var password = document.getElementById('input2').value;
    var inputPath = document.getElementById('input3').value;
    var outputPath = document.getElementById('input4').value;
    // var login_path = document.getElementById('input3').value;
    // 发送POST请求到后端
    fetch('query_sales', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Content-Type-Options': 'nosniff'
      },
      body: JSON.stringify({
        account: account,
        password: password,
        inputPath: inputPath,
        outputPath: outputPath
        // login_path: login_path
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(function (data) {
      // console.log(data.msg) // 检查响应数据的结构和内容
      // 更新页面内容
      document.getElementById('console1').innerHTML = data.msg;
      var uploadMessage = document.getElementById('start-message3');
      if (data.success) {
        uploadMessage.textContent = ' 操作完毕';
        uploadMessage.style.color = 'green';
      } else {
        uploadMessage.textContent = '操作失败';
        uploadMessage.style.color = 'red';
      }
    })
    .catch(function(error) {
      console.log(error); // 检查响应数据的结构和内容
      // document.getElementById('console1').innerHTML = error;
    });
  });

  // 全部执行按钮点击事件
  document.getElementById('start-button').addEventListener('click', function() {
    var account = document.getElementById('input1').value;
    var password = document.getElementById('input2').value;
    var inputPath = document.getElementById('input3').value;
    var outputPath = document.getElementById('input4').value;
    // var login_path = document.getElementById('input3').value;
    // 发送POST请求到后端
    fetch('/all_jdsz', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Content-Type-Options': 'nosniff'
      },
      body: JSON.stringify({
        account: account,
        password: password,
        inputPath: inputPath,
        outputPath: outputPath
        // login_path: login_path
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(function (data) {
      // console.log(data.msg) // 检查响应数据的结构和内容
      // 更新页面内容
      console.log(data.msg)
      document.getElementById('console1').innerHTML = data.msg.replace(/\n/g, "<br>");
      var uploadMessage = document.getElementById('start-message');
      if (data.success) {
        uploadMessage.textContent = ' 操作完毕';
        uploadMessage.style.color = 'green';
      } else {
        uploadMessage.textContent = '操作失败';
        uploadMessage.style.color = 'red';
      }
    })
    .catch(function(error) {
      console.log(error); // 检查响应数据的结构和内容
      document.getElementById('console1').innerHTML = error;
    });
  });

    // 全部执行按钮点击事件
  document.getElementById('start-button4').addEventListener('click', function() {
    var inputName = document.getElementById('input5').value;
    var outputName = document.getElementById('input6').value;
    // 发送POST请求到后端
    fetch('/all_webdriver', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Content-Type-Options': 'nosniff'
      },
      body: JSON.stringify({
        inputPath: inputName,
        outputPath: outputName
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(function (data) {
      // console.log(data.msg) // 检查响应数据的结构和内容
      // 更新页面内容
      console.log(data.msg)
      document.getElementById('console1').innerHTML = data.msg;
      var uploadMessage = document.getElementById('start-message4');
      if (data.success) {
        uploadMessage.textContent = ' 操作完毕';
        uploadMessage.style.color = 'green';
      } else {
        uploadMessage.textContent = '操作失败';
        uploadMessage.style.color = 'red';
      }
    })
    .catch(function(error) {
      console.log(error); // 检查响应数据的结构和内容
      document.getElementById('console1').innerHTML = error;
    });
  });
  </script>
</body>
</html>
